@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&family=Shadows+Into+Light&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  background-color: #fff;
  padding: 0.6rem 0;
}
.bg-header2 {
  background-color: #713237;
}
.header--nav {
  width: 100%;
}
.header--nav i {
  position: relative;
  z-index: 10;
  color: #4c3b3b;
  font-size: 2.4rem;
  margin-left: 1.4rem;
  cursor: pointer;
}
.header--nav-links {
  position: fixed;
  top: 0;
  left: 0;
  width: 55vw;
  max-width: 300px;
  height: 100vh;
  background-color: #fff;
  box-shadow: -2px -10px 30px -1px #4c3b3b;
  transition: all 0.3s ease-in-out;
  transform: translateX(-100%);
}
.nav-links--show {
  transform: translateX(0);
}
.header--nav-links ul {
  list-style: none;
  margin-top: 3.2rem;
  padding: 0;
  padding-left: 0.5rem;
}
.header--nav-links ul li {
  margin: 0.8rem 0;
}
.header--nav-links ul li a {
  color: #4c3b3b;
  font-size: 1.1rem;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0.5rem 1rem;
  margin: 0.5rem 0;
  border-radius: 20px;
}
.header--nav-links ul li a:hover {
  background-color: #4c3b3b;
  color: #fff;
}
.header--nav-links ul li .links-header2 {
  color: #3e3e3e;
}
.header--nav-links ul li .links-header2:hover {
  background-color: #3e3e3e;
  color: #713237;
}

.bg-marroon {
  background-color: #4c3b3b;
}
.color-marroon {
  color: #4c3b3b;
}
.nav-link {
  color: #4c3b3b !important;
}

.logo-bioob {
  width: 120px;
  height: 30px;
  object-fit: cover;
}

.slices img {
  width: 100%;
  height: 550px;
  object-fit: cover;
}

.flickity-button {
  z-index: 5;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 550px;
  background-color: rgba(76, 59, 59, 0.8);
  z-index: 2;
  text-align: center;
  line-height: 550px;
}
.overlay img {
  width: 350px;
  height: 250px;
  object-fit: contain;
}

.bioob-objetivo {
  padding: 3.5rem;
  padding-bottom: 4.5rem;
}

.bioob-objetivo .text-bioob {
  max-width: 350px;
  margin: 0 auto;
  font-weight: 300;
}
.services {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 480px;
}
.services::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(76, 59, 59, 0.6);
}
.services p {
  position: relative;
  z-index: 2;
  display: inline-block;
  font-size: 1.8rem;
  line-height: 70px;
}
.bg-capacitacion {
  background-color: #915a31;
}
.bg-vinculacion {
  background-color: #135055;
}
.bg-talleres {
  background-color: #9c8f7e;
}
.bg-investigacion {
  background-color: #4e3a3b;
}

.services img {
  position: relative;
  z-index: 2;
  width: 70px;
  height: 70px;
  object-fit: contain;
  border-radius: 50%;
  margin-bottom: 1rem;
}
.services.capacitacion {
  background-image: url("../img/capacitacion-home.jpg");
}
.services.vinculacion {
  background-image: url("../img/BIOOB-vinculacion.jpg");
}
.services.talleres {
  background-image: url("../img/BIOOB-talleres.jpg");
}
.services.investigacion {
  background-image: url("../img/BIOOB-investigacion.jpg");
}

.description {
  background-color: #4c3b3b;
  padding: 2.5rem;
}
.description .text {
  font-family: "Shadows Into Light", cursive;
  max-width: 500px;
  margin: 0 auto;
  font-size: 1.1rem;
  font-weight: 400;
}

/***********TASHI**********/
footer {
  text-align: left;
  flex-wrap: nowrap;
  font-family: "Roboto";
}
.notmargin {
  margin: 0px;
  padding: 0px;
}
.footer1 {
  padding: 20px;
}
.foot1Color {
  background-color: #a77d6e;
}
.margin-footer1 {
  margin-left: 30%;
  margin-right: 10%;
}
.frase {
  font-size: 1.5em;
  color: white;
  text-align: center;
  width: 90%;
}
.frase2 {
  font-size: 1.5em;
  width: 90%;
  color: white;
  text-align: center;
}
.colaborar {
  font-size: 2em;
  color: white;
  text-align: center;
  width: 90%;
}
.footer2 {
  padding: 60px;
  color: white;
  font-size: 16px;
  line-height: 14px;
}
.foot2Color {
  background-color: #694e4a;
}
.margin-footer2 {
  margin-left: 4%;
}
.footTitulo {
  padding-bottom: 3px;
}
.footer3 {
  padding-top: 8px;
  padding-bottom: 1px;
  height: 12em;
}
.foot3Color {
  background-color: #70423f;
}
.logoFooter {
  width: 15%;
  padding-bottom: 1px;
  margin-left: 1%;
}
.copy {
  color: white;
  margin-top: 3em;
  font-size: smaller;
  text-align: center;
}
.form {
  width: 70%;
  margin-left: 15%;
}
.tituloForm {
  font-size: 30px;
  text-align: center;
  color: #4e3a3b;
  margin: 1.8rem 0;
}
.btnForm {
  background-color: #4e3c3c;
  color: white;
  padding: 0.6rem;
  margin-top: -0.5rem;
  border: none;
  border-radius: 6px;
}
.btnForm:hover {
  animation: shake 500ms ease infinite;
}
@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  50% {
    transform: translate(-1px, 1px) rotate(-10deg);
  }
  100% {
    transform: translate(1px, 1px) rotate(0deg);
  }
}
/*****************SECCIONES*********************/
.logoSection {
  position: center;
  width: 50%;
  padding: 20px;
}
.headSection {
  background-color: #4e3c3c;
  margin-top: 3.2rem;
}
.seccion {
  align-items: center;
  width: fit-content;
}
.seccionText {
  width: 90%;
  margin-left: 5%;
  margin-top: 5%;
  margin-right: 5%;
  margin-bottom: 10%;
}
.seccionTextContacto {
  width: 80%;
  max-width: 400px;
  margin: 0 auto;
  margin-top: 2rem;
}
.seccionTextContacto p {
  display: block;
  text-align: center;
  background-color: #4e3c3c;
  color: white;
  padding: 0.8rem;
  border-radius: 18px;
  font-size: 0.8rem;
  font-weight: 500;
  transition: transform 0.2s ease;
}
.seccionTextContacto p:hover {
  transform: scale(1.08);
}

.seccionImg {
  width: 100%;
  text-align: center;
}
.imgSeccion {
  width: 30%;
  height: 30%;
  /* margin-right: 2%; */
  margin: auto;
}

.hormigasFooter {
  position: absolute;
  width: 19.4rem;
  height: 32rem;
  top: 0;
  right: 0;
  opacity: 0.6;
}

@media screen and (min-width: 450px) {
  .overlay img {
    width: 450px;
    height: 350px;
  }
}

@media screen and (min-width: 600px) {
  .bioob-objetivo {
    padding: 4.5rem;
  }
  .description .text {
    max-width: 650px;
    font-size: 1.1rem;
  }
}

@media screen and (min-width: 768px) {
  .overlay img {
    width: 550px;
    height: 450px;
  }
  .services img {
    width: 90px;
    height: 90px;
  }
  .services p {
    font-size: 2.5rem;
    line-height: 90px;
  }
  .services.vinculacion {
    background-position: top left;
  }
  .description .text {
    font-size: 1.3rem;
  }
  .footer;
}

@media screen and (min-width: 1024px) {
  .slices img {
    height: 100vh;
  }
  .overlay {
    height: 100vh;
    line-height: 100vh;
  }
  .overlay img {
    width: 600;
    height: 500px;
  }
  .services {
    height: 550px;
  }
  .services div {
    padding: 0 2.5rem;
  }
  .services img {
    width: 120px;
    height: 120px;
  }
  .services p {
    font-size: 5rem;
    line-height: 120px;
    letter-spacing: 10px;
  }
  .services.capacitacion {
    background-position: top;
  }
  .services.vinculacion {
    background-position: center;
  }
  .description {
    padding: 3.5rem;
  }
  .description .text {
    max-width: 550px;
    font-size: 1.2rem;
    font-weight: 400;
  }
  .hormigasFooter {
    right: 50px;
    opacity: 0.8;
  }
}
@media screen and (min-width: 1200px) {
  .description .text {
    font-size: 1.4rem;
  }
}
